a{
    text-decoration: none;
    color: #212121;
}

nav {
    font-family:'Roboto' ;
    font-style: normal;
    font-weight: 500;
    line-height: 16px ;
    letter-spacing:0.02em ;
    color: #212121;
}

p {
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

#banner {
    
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
    
        background: #2F303A;
}

#mainbutton {
    position: absolute;
        width: 228px;
        height: 57px;
        left: 700px;
        top: 430px;
}

h1 {
    font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 26; letter-spacing: 0.03em; color: #2196F3; margin-top: 24px; margin-left: 215px;
}

.navegation {
    display: inline-block;
    float: right;
}
